*{
    margin:0;
    padding:0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.main_box{
    background: url(https://t4.ftcdn.net/jpg/05/93/36/93/360_F_593369304_wk8Ke0pAABYGnEIkWI4rBeCaFyLowiOt.jpg);
    height:100vh;
    background-size: cover;
}   

.btn_one i{
    color: azure;
    font-size: 30px; 
    font-weight: 800;
    position: absolute;
    left: 20px;
    line-height: 60px;
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width:400px;
    background-color: rgba(255,255,255, 0.2);
    box-shadow:0 0 10px rgba(255, 255, 255, 0.5);
    left: -405px;
    transition:all 0.5s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow:0 4px 4px rgba(255, 255, 255, 0.5);
    height: 70px;
}

.sidebar_menu .logo a {
    position: absolute;
    left: 60px;
    color: aqua;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    height: 60px;
}

.btn_two i {
    color: gray;
    font-size: 30px; 
    font-weight: 800;
    position: absolute;
    left: 350px;
    line-height: 60px;
    opacity: 1;
    cursor: pointer;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 100px;
}

.sidebar_menu .menu li {
    margin-top: 10px;
    padding: 10px 20px;

}

.sidebar_menu .menu i,a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    left: 25%;
    position: absolute;
    bottom: 5%
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover {
    font-size: 40px;
    transition-duration: 0.5s;
}

.btn_two i:hover {
    font-size: 40px;
    transition-duration: 0.5s;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.5);
    transition-duration: 0.5s;
}

#check:checked ~ .sidebar_menu{
    left:0;
}

#check:checked ~ .btn_one{
    opacity:0;
}